@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@500;700&display=swap');

/*
body, h2, h3, h4, button, input, textarea {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}*/

body, h2, h3, h4, button, input, textarea {
  font-family: cursive;
}

body, html {
  height: 100%; /* Устанавливаем высоту для родителя */
  margin: 0; /* Убираем отступы */
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; /* Центрируем по вертикали */
  background-color: #f0f0f0; /* Цвет фона страницы */
}

#login-form{
  margin-left: 20px;
  margin-right: 50px;
}

.phone-frame {
  width: 100%;
  height: 100%;
  position: relative; 
  background-color: #fff; 
  overflow: hidden;
}

.phone-frame::before {
  content: ""; /* Псевдоэлемент для создания верхней панели */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px; /* Высота верхней панели */
  background-color: #333; /* Цвет верхней панели */
  /* border-radius: 36px 36px 0 0; */
}

.screen {  
  display: none;
  background-color: rgb(255, 147, 85);
  color: #000;
  height: calc(100%); /* Учитываем высоту верхней панели */
  box-sizing: border-box; /* Включаем отступы в общую высоту */
  display: flex; /* Используем flexbox для центрирования контента */
  flex-direction: column; /* Вертикальное направление элементов */
   /* Центрируем элементы по вертикали */
  /* Центрируем элементы по горизонтали */
}

.screen.active {
  display: flex; /* Показываем экран с flexbox */
}

#screen1{
  align-items: center; 
  justify-content: center; 
}

#screen2{
  align-items: center; 
  justify-content: center; 

}

header {
  font-size: 1.5em;
  text-align: center;
  margin-top: 40px;
}

#screen2 button{
  margin-left: 46%;
  background-color: #333; 
}

#but button{
  background-color: #333;
  border: 4px solid #333;
  border-radius: 15px; 
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: #ffffff;
  margin-top: 20px;
  font-size: 16px;
}

#navigation3 button{
  background-color: #ffffff;
  width: 100%;
}

#screen6 nav button{
  background-color: white; 
  width: 100%;
}
#screen4 nav button{
  background-color: white; 
  width: 100%;
}
#screen5 nav button{
  background-color: white; 
  width: 100%;
}
#screen7 nav button{
  background-color: white; 
  width: 100%;
}
#screen8 nav button{
  background-color: white; 
  width: 100%;
}
#screen10 nav button{
  background-color: white; 
  width: 100%;
}
#screen11 nav button{
  background-color: white; 
  width: 100%;
}
#screen12 nav button{
  background-color: white; 
  width: 100%;
}

.events-grid button{
  padding:0;
  background-color:transparent;
}

.profile-pic{
  border-radius: 10em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
}
.profile #button_1{
  background-color: #333; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
}

.friends-button {
  width: 120px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 3px 0;
}

.events-tabs button{
  background-color: #333; 
}

button {
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  
}

#screen2 input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #ccc;
}

#screen3 input, textarea{
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #ccc;
}

#screen5 h3{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
#screen5 h4{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

#screen10 h3{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
#screen10 h4{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.profile-anna-pic {
  object-fit: cover;
  border-radius: 10em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
}
.anna-name{
  display: flex;
  justify-content: center; 
  position: relative;
}
.add-friend-pic {
  position: absolute;
  margin-top: 23px !important;
  margin-left: 30% !important;
  border-radius: 0 !important;
}
.add-friend-pic2 {
  position: absolute;
  margin-top: 23px !important;
  margin-left: 50% !important;
  border-radius: 0 !important;
}

#create-event-form {
  width: calc(100% - 23px); 
  max-width: 600px;
  margin: 20px auto; 
  background-color: rgb(255, 147, 85);
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

div#create-event-form-in {
  display: flex;
  flex-direction: column;
  /* align-content: space-around; */
  align-items: center;
}

#create-event-form-in input, 
#create-event-form-in textarea {
  width: calc(100% - 20px); 
  padding: 10px;
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 5px; 
  font-size: 16px;
  box-sizing: border-box;
}

.file-upload {
  display: inline-block;
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  margin-left: 0;
  text-align: center;
  cursor: pointer;
  background-color: #f9f9f9;
  color: #333;
  transition: background-color 0.3s ease;
}
.file-upload input[type="file"] {
  display: none;
}

#create-event-form label {
  display: block; /* Переводим на отдельную строку */
  margin-top: 15px;
  font-size: 16px;
}

#create-event-form input[type="checkbox"] {
  margin-left: 10px;
}

#create-event-form button {
  width: calc(100% - 10px);
  padding: 10px;
  margin: 30px 5px 0;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: #333;
  transition: background-color 0.3s;
}в

#file-upload-button {
  height: 200px !important;
}

.add-button {
  background-color: transparent !important;
  color: #333 !important;
  border: 4px solid #333 !important;
  border-radius: 10px !important;
  height: 55px !important;
  padding: 5px !important;
  margin: 5px auto !important;
  font-size: 17px;

}

nav {
  display: flex; /* Убедимся, что кнопки располагаются в ряд */
  justify-content: space-around; /* Равномерное распределение кнопок */
  margin-bottom: 0px; /* Отступ сверху для навигации */
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.hidden {
  display: none;
}


/* Контейнер переключателя */
.toggle-container {
  position: relative;
  display: flex;
  background-color: #ddd;
  overflow: hidden;
  cursor: pointer;
  margin: 20px 0;
}

/* Кнопки переключателя */
.toggle-button {
  flex: 1;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  color: #333;
  z-index: 1;
  transition: color 0.4s;
}

/* Ползунок */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #333;
  transition: 0.4s;
  z-index: 0;
}

/* Цвет текста активной кнопки */
.toggle-button.active {
  color: #ffffff;
}

/* Стили для панелей с текстом */
.content-panel {
  display: none;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  margin-top: 10px;
  height: 1000px;
}

.content-panel.active {
  display: block;
}

.chat-list {
  margin-top: 30px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.chat-item {
  display: flex;
  padding: 10px;
  transition: background 0.3s;
}

.participant-item {
  display: flex;
  margin-bottom: 10px;
}
.participant-name {
  font-weight: bold;
  margin-top: 5px;
}

.chat-item:hover {
  background: #d1d1d1;
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: #007bff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
}
.avatar-anna {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}
.anna-text {
  margin-left: 15px;
}

.chat-avatar {
  width: 40px;
  height: 40px;
  background-color: #007bff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 10px;
}

.chat-details {
  flex-grow: 1;
}

.chat-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.last-message {
  color: #888;
}

.content-container {
  margin-left: 3%;
  margin-right: 3%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  margin-top: 10px;
}

.calendar-container {
  width: 100%; /* Чуть меньше половины ширины */
  height: 185px;
  border: 1px solid #ccc; /* Обводка календаря */
  background-color: #f9f9f9; /* Цвет фона */
}

.map-container {
  width: 100%; /* Чуть меньше половины ширины */
  border: 1px solid #ccc; /* Обводка карты */
  border-radius: 8px; /* Закругление углов */
  background-color: #f9f9f9; /* Цвет фона */
}

/* Стиль для заголовка календаря */
#calendar::before {
  content: "Календарь"; /* Заголовок */
  display: block;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px; /* Отступ снизу */
}

/* Стиль для заголовка карты */
#map::before {
  content: "Карта"; /* Заголовок */
  display: block;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px; /* Отступ снизу */
}

#calendar2 {
  width: 100%;
  font: monospace;
  line-height: 1.2em;
  font-size: 15px;
  text-align: center;
}
#calendar2 thead tr:last-child {
  font-size: small;
  color: rgb(85, 85, 85);
}
#calendar2 thead tr:nth-child(1) td:nth-child(2) {
  color: rgb(50, 50, 50);
}
#calendar2 thead tr:nth-child(1) td:nth-child(1):hover, #calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
  cursor: pointer;
}
#calendar2 tbody td {
  color: rgb(44, 86, 122);
}
#calendar2 tbody td:nth-child(n+6), #calendar2 .holiday {
  color: rgb(231, 140, 92);
}
#calendar2 tbody td.today {
  background: rgb(220, 0, 0);
  color: #fff;
}
#calendar2 tbody td.event1 {
  background-color: rgb(34, 86, 255);
  color: #fff;
}

.search-input {
  border-radius: 5px; /* Закругление углов */
  font-size: 16px; /* Размер шрифта */
  outline: none; /* Убираем обводку при фокусе */
  transition: border-color 0.3s; /* Плавный переход цвета рамки */
  padding-left: 30px; /* Отступ для иконки */
  background-image: url('i.webp'); /* Путь к иконке */
  background-repeat: no-repeat; /* Не повторять иконку */
  background-position: 95%;
  background-size: 20px 20px;
}

a {
  text-decoration: none;
  color: rgb(53, 53, 53);
}

#privacy{
  margin-top: 3%;
}

.header{
  display: flex;
  overflow: hidden;
  height:50px;
}

.header-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header-right{
  position: absolute;
  right: 20px;
}

#events{
  margin: 4% 0;
}

#notifications_button{
  background-color: transparent;
  margin-top: 0px;
  padding: 0;
  width: 50px;
  height: 50px;
}

#notifications_p{
  margin-top: 2%;
  margin-bottom: 2%;
}

.notifications-list {
  max-width: 600px;
  margin-top: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.notifications-item {
  display: flex;
  padding: 10px;
  transition: background 0.3s;
}

.notifications-item:hover {
  background: #d1d1d1;
}

.notifications-picture {
  width: 80px;
  height: 40px;
  background-color: #007bff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
}
.notifications-picture {
  width: 80px;
  height: 40px;
  background-color: #007bff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
}
.notifications-message{
  width:600px;
}

.events-grid {
  margin-left: 3%;
  margin-right: 3%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.event-card {
  position: relative;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.event-image {
  width: 100%;
  object-fit: cover;
}

.event-title {
  background-color: rgba(0, 0, 0, 0.7); /* Затемнение для текста */
  color: white;
  text-align: center;
  padding: 5px 0;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.event-details {
  margin-top: 3%;
  height: 70%;
  overflow-y: scroll;
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.event-banner {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 10px;
}

.event-date, .event-time, .event-location {
  text-align: center;
  margin: 5px 0;
  font-size: 16px;
}

.event-description h3 {
  margin-top: 20px;
  font-size: 18px;
}

.event-description p {
  font-size: 16px;
  line-height: 1.5;
}

.event-actions {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

/* Стили созданной карточки */
#event-details {
  margin-top: 3%;
  height: 70%;
  overflow-y: scroll;
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
#event-picture {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 10px;
}
#event-title {
  margin: 4%;
  white-space: nowrap;
}
#event-date, #event-time, #event-place {
  text-align: center;
  margin: 5px 0;
  font-size: 16px;
}

.subscribed-btn {
  background-color: #565656;
  color: #efe4e4;
  border: none;
  padding: 10px 20px;
  cursor: not-allowed;
  font-size: 16px;
  border-radius: 5px;
  margin-right: 10px;
}

.images-container {
  display: flex;
  gap: 10px;
}

.inline-image {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  object-fit: cover;
}

.soc{
  background-color:transparent;
  padding: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.menu-image {
  width: 45px;
  height: 45px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 37px;
}

.dropdown-content {
  display: none;
  position: fixed;
  top: 90px;
  right: 10px;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
}

.dropdown-content button {
  width: 100%;
  padding: 10px 20px;
  background-color: #242424;
  border: none;
  text-align: left;
  font-size: 14px;
  cursor: pointer;
}

.dropdown-content button:hover {
  background-color: #f0f0f0;
  color: #000;
}

.dropdown-content button:first-child {
  border-bottom: 1px solid #ddd;
}


/* Экран чата */

#screen9_1.visible {
  position: absolute; /* Чтобы занять всю область внутри phone-frame */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Гарантируем, что занимает всю высоту экрана */
  display: flex;
  flex-direction: column;
  background: #fff; /* Цвет фона */
}
#screen9_2.visible {
  position: absolute; /* Чтобы занять всю область внутри phone-frame */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Гарантируем, что занимает всю высоту экрана */
  display: flex;
  flex-direction: column;
  background: #fff; /* Цвет фона */
}
#screen9_3.visible {
  position: absolute; /* Чтобы занять всю область внутри phone-frame */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Гарантируем, что занимает всю высоту экрана */
  display: flex;
  flex-direction: column;
  background: #fff; /* Цвет фона */
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f8f9fa;
  border-radius: 10px;
  overflow: hidden;
}

.chat-header {
  display: flex;
  align-items: center;
  background-color: rgb(255, 147, 85);
  color: white;
  padding: 10px;
  border-top: 20px solid #333;
}

.back-button {
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 24px;
}

.chat-title {
  font-weight: bold;
  display: flex;
}

.chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.message {
  margin-bottom: 10px;
}

.message-incoming {
  align-self: flex-start; /* Сообщение прилипает к левому краю */
  background-color: #e9ecef;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  margin-right: auto; /* Отодвигаем от правого края */
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.12);
}

.message-outgoing {
  align-self: flex-end; /* Сообщение прилипает к правому краю */
  background-color: rgb(255, 147, 85);
  color: white;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  margin-left: auto; /* Отодвигаем от левого края */
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.12);
}

.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ced4da;
  background-color: rgb(255, 147, 85);
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.chat-input button {
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-left: 5px;
  cursor: pointer;
}

#search-container {
  display: none;
  margin-top: 10px;
  width: 95%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#searchInput {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

#results {
  position: absolute;
  list-style: none;
  padding: 0;
  margin-top: 5px;
  display: none; /* Скрываем результаты до ввода */
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  max-height: 200px;
  overflow-y: auto;
}

#results li {
  padding: 10px;
  cursor: pointer;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

#results li:hover {
  background-color: #eaeaea;
}


.friends-list {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  width: 100%;
  margin: 15px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 18px;
}

/* Модальное окно для друзей в мероприятие */
.friends-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 82%;
  max-height: 80%;
  overflow-y: auto;
  text-align: center;
  font-size: 19px;
}

.friends-to-add {
  list-style-type: none;
  padding: 0;
  text-align: left;
  font-size: 18px;
}

.confirm-button,
.close-button {
  margin: 10px;
  padding: 10px 15px;
  background: rgb(255, 147, 85);
  border: none;
  border-radius: 5px;
  color: #000000;
  cursor: pointer;
  font-size: 16px;
}